body{font-family:'Dosis';
     font-size:12pt;
     color:#444;
     background-repeat:no-repeat;
     background-position:center;
     width:100%;
     margin-top:20px;}

a{text-decoration:none;}
a:link{color: #444;}
a:visited{color: #444;}
a:hover{color: #444;}

#wrapper{padding: 30px 30px 0 30px;
         margin-left:20%;
         margin-right:20%;
         margin-top:50px;}
#wrapper-sub{padding: 10px 0 0 20px;
}
#footer{position: absolute;
    margin-left:580px;
    margin-bottom:10px;
    margin-top:10px;
    font-family:Arial;
    font-size:7pt;}
#modif{position: absolute;
    margin-left:60%;
    margin-bottom:10px;
    margin-top:10px;
    font-family:Arial;
    font-size:7pt;}
#img{position: absolute;
     z-index: 2;
     margin-left:200px;
     margin-right:200px;
     font-size:230pt;
     text-shadow: -3px 0 4px #006;}
#float{position: fixed;
       margin-left:200px;
       z-index:2000;
       width:100%;
       top:20px;}
#float2{position: fixed;
       margin-left:100px;
       z-index:2000;
       width:100%;
       top:55px;}

h2{font-family: 'Kreon';
    font-size:20pt;
    text-shadow: 2px 0 1px #006;}

.bubbl-theme.slider-wrapper {
	position: relative;
	width: 700px;
	height: 400px;
	margin: 0;
	padding: 2px;
	
	background: #444;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.bubbl-theme .nivoSlider {
	position: relative;
	width: 700px;
	height: 400px;
}

.bubbl-theme .nivoSlider img {
	display: none;
	position: absolute;
	width: 700px;
	height: 400px;
	top: 0;
	left: 0;
}

.bubbl-theme .nivo-controlNav {
	position: absolute;
	bottom: -40px;
	left: 270px; /* Change this to center the navigation */
}

.bubbl-theme .nivo-controlNav a {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	text-indent: -9999px;
	background: #141517;

	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
	box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
}

.bubbl-theme .nivo-controlNav a.active,
.bubbl-theme .nivo-caption span {
	background: #a5cd4e;
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);

	-webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
	-moz-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
	box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
}

.bubbl-theme .nivo-directionNav a {
	display: block;
	top: 160px;
	
	font-family: 'Arial', sans-serif;
	font-size: 40px;
	color: #141517;
	text-shadow: 0px 1px 1px rgba(255,255,255, .05);
    text-indent: -9999px;
}

.bubbl-theme a.nivo-prevNav { left: -40px; }

.bubbl-theme a.nivo-nextNav { right: -40px; }

.bubbl-theme .nivo-caption {
	padding: 3px 0;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #e1e1e1;
	
	background: #000000;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.bubbl-theme .nivo-caption span {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0 5px 1px 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.bubbl-theme .nivo-caption em {
	font-family: Georgia, sans-serif;
	font-size: 11px;
	color: #727581;
}

.pop-up {position:absolute; top:0; left:-500em;}
    .pop-up:target {position:static; left:0;}

    .popBox {
      background:#ffffff;

      position:absolute; left:20%; right:20%; top:20%; bottom:20%;

      z-index:10;
      border:1px solid #3a3a3a;

      -moz-border-radius:12px;
      border-radius:12px;
      -webkit-box-shadow:2px 2px 4px #3a3a3a;
      -moz-box-shadow:2px 2px 4px #3a3a3a;
      box-shadow:2px 2px 4px #3a3a3a;
      opacity:0;
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
    }

    :target .popBox {position:fixed; opacity:1;}

    .lightbox {display:none; text-indent:-200em; background:#000; opacity:0.4; width:100%; height:100%; position:fixed; top:0; left:0; bottom:0; right:0; z-index:5;}
    :target .lightbox {display:block;}
    .lightbox:hover {background:#000;}

    .close:link,
    .close:visited {
      position:absolute; top:-0.75em; right:-0.75em; display:block; width:1em; height:1em;
      padding:0;
      font:bold large/1 arial, sans-serif; text-align:center; text-decoration:none;
      background:#000; border:3px solid #fff; color:#fff;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      -moz-box-shadow: 0 0 1px 1px #3a3a3a;
      -webkit-box-shadow: 0 0 1px 1px #3a3a3a;
      box-shadow: 0 0 1px 1px #3a3a3a;
    }
    .close:before {content:"X";}
    .close:hover,
    .close:active,
    .close:focus {box-shadow:0 0 1px 1px #c00; background:#c00; color:#fff;}
    .close span {text-indent:-200em; display:block;}

    .popScroll {position:absolute; top:9%; left:3%; right:3%; bottom:9%; overflow-y:auto; *overflow-y:scroll; padding-right:0.5em}
